<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Homepage</title>
</head>
<body>
    <img src="{{ url_for('static', filename='AJ_Meyer.png') }}" width="250px" height="250px">
    <h1>Welcome to my website!</h1>

    <!-- Buttons stacked vertically -->
    <a href="{{ url_for('about') }}" class="btn">About me</a>
    <a href="{{ url_for('resume') }}" class="btn">My CV</a>
    <a href="{{ url_for('blogs') }}" class="btn">Blogs</a>

</body>

</html>